---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_reference/save
    body:
      encoding: UTF-8
      string: '{"copy_reference":"WI-v4zliNDByb3JwejZlNw","path":"/copied-file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - a3781447e81d4c956f5d0d3feb2ed98f
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/conflict/file/..", "error": {".tag": "path",
        "path": {".tag": "conflict", "conflict": {".tag": "file"}}}}'
  recorded_at: Mon, 05 Jun 2017 09:42:19 GMT
recorded_with: VCR 3.0.3
