---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_reference/save
    body:
      encoding: UTF-8
      string: '{"copy_reference":"invalid-reference","path":"/copied-file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - b69e063c993075436660ee02edfed7de
    body:
      encoding: UTF-8
      string: '{"error_summary": "invalid_copy_reference/..", "error": {".tag": "invalid_copy_reference"}}'
  recorded_at: Mon, 05 Jun 2017 09:42:39 GMT
recorded_with: VCR 3.0.3
