---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_reference/save
    body:
      encoding: UTF-8
      string: '{"copy_reference":"WI-v4zliNDByb3JwejZlNw","path":"/copied-file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - e2e16571be60421a73878bcf0966aeef
    body:
      encoding: UTF-8
      string: '{"error_summary": "not_found/", "error": {".tag": "not_found"}}'
  recorded_at: Mon, 05 Jun 2017 09:43:48 GMT
recorded_with: VCR 3.0.3
