---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_reference/save
    body:
      encoding: UTF-8
      string: '{"copy_reference":"WI-v4zliNDByb3JwejZlNw","path":"/copied-file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 9faa82447a65857e0a5a7fff4054a6b4
      X-Server-Response-Time:
      - '465'
    body:
      encoding: ASCII-8BIT
      string: '{"metadata": {".tag": "file", "name": "copied-file.txt", "path_lower":
        "/copied-file.txt", "path_display": "/copied-file.txt", "id": "id:ghlqX9y278AAAAAAAAAACg",
        "client_modified": "1988-12-08T01:01:00Z", "server_modified": "2017-06-05T09:41:57Z",
        "rev": "5588fafe3", "size": 20, "content_hash": "6f18683e28aed77f31f3fc009d3417394a08b1faabf88419ae707f19778301b0"}}'
  recorded_at: Mon, 05 Jun 2017 09:41:57 GMT
recorded_with: VCR 3.0.3
