---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/dropbox_api_fixtures"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
      Dropbox-Api-Path-Root:
      - '{".tag": "namespace_id", "namespace_id": "70721710"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '131'
      X-Dropbox-Request-Id:
      - 5f802a722df244b4ac1008d639d95b18
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "chunked_uploader", "path_lower":
        "/dropbox_api_fixtures/chunked_uploader", "path_display": "/dropbox_api_fixtures/chunked_uploader",
        "id": "id:L5U1_AOVa-QAAAAAAAA4cA"}, {".tag": "folder", "name": "get_metadata",
        "path_lower": "/dropbox_api_fixtures/get_metadata", "path_display": "/dropbox_api_fixtures/get_metadata",
        "id": "id:L5U1_AOVa-QAAAAAAAA4ig"}, {".tag": "folder", "name": "get_thumbnail_batch",
        "path_lower": "/dropbox_api_fixtures/get_thumbnail_batch", "path_display":
        "/dropbox_api_fixtures/get_thumbnail_batch", "id": "id:L5U1_AOVa-QAAAAAAAA4jg"},
        {".tag": "folder", "name": "get_shared[...]
