---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/dropbox_api_fixtures"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
      Dropbox-Api-Path-Root:
      - '{".tag": "namespace_id", "namespace_id": "938429923"}'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - f99de91c622d42338d3fa3bdc30a2bb9
    body:
      encoding: ASCII-8BIT
      string: '{"error_summary": "no_permission/..", "error": {".tag": "no_permission"}}'
  recorded_at: Sun, 07 Feb 2021 18:16:10 GMT
recorded_with: VCR 6.0.0
