---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/users/get_current_account
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '400'
      X-Dropbox-Request-Id:
      - 267038e9bdb948cebc813e139ae02533
    body:
      encoding: ASCII-8BIT
      string: '{"account_id": "dbid:AABOLtA1rT6rRK4vajKZrWqLZ7wVnV863u4", "name":
        {"given_name": "Jes\u00fas", "surname": "Burgos", "familiar_name": "Jes\u00fas",
        "display_name": "Jes\u00fas Burgos", "abbreviated_name": "JB"}, "email": "jburmac@gmail.com",
        "email_verified": true, "disabled": false, "country": "ES", "locale": "es-ES",
        "referral_link": "https://www.dropbox.com/referrals/AAAPVkAVLJ_KOkom5veU5p5i20nxosCIg9c?src=app9-9859360",
        "is_paired": false, "account_type": {".tag": "basic"}, "root_info": {".tag":
        "user", "root_namespace_id": "70721710", "home_namespace_id": "70721710"}}'
  recorded_at: Sun, 07 Feb 2021 16:37:44 GMT
recorded_with: VCR 6.0.0
