---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_reference/get
    body:
      encoding: UTF-8
      string: '{"path":"/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 3e03cceeb688a312b73aa2c9703c9394
      X-Server-Response-Time:
      - '161'
    body:
      encoding: ASCII-8BIT
      string: '{"metadata": {".tag": "folder", "name": "folder", "path_lower": "/folder",
        "path_display": "/folder", "id": "id:ghlqX9y278AAAAAAAAAACA"}, "copy_reference":
        "WI-v42h5NWxnbDZ2enpjbw", "expires": "2047-05-29T09:29:39Z"}'
  recorded_at: Mon, 05 Jun 2017 09:29:40 GMT
recorded_with: VCR 3.0.3
