---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Again, Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"mode":"overwrite","path":"/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '747'
      X-Dropbox-Request-Id:
      - c190700490205a0c4661035cbbf4bcf3
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/file.txt", "path_display": "/file.txt",
        "id": "id:lupHTAlMQvkAAAAAAAAAKg", "client_modified": "2016-12-26T14:10:10Z",
        "server_modified": "2016-12-26T14:10:11Z", "rev": "6f299384b6", "size": 21}'
  recorded_at: Mon, 26 Dec 2016 14:10:16 GMT
recorded_with: VCR 3.0.3
