---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Again, Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"path":"/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '665'
      X-Dropbox-Request-Id:
      - 7ff9ad669dc7701632f0a2f4a87d7b44
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file (1).txt", "path_lower": "/file (1).txt", "path_display":
        "/file (1).txt", "id": "id:lupHTAlMQvkAAAAAAAAALA", "client_modified": "2016-12-26T14:07:27Z",
        "server_modified": "2016-12-26T14:07:27Z", "rev": "6e299384b6", "size": 21}'
  recorded_at: Mon, 26 Dec 2016 14:07:32 GMT
recorded_with: VCR 3.0.3
